.home-page {
  padding-bottom: 40px;
  .giphy {
    height: 400px;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .home-title {
    color: #1c1b1b;
    text-align: center;
  }
  .home-paragraph-title {
    font-weight: 200;
    text-align: center;
  }
  .p-expl-text {
    text-align: justify;
  }
  .team-finish {
    text-align: right;
    margin-right: 2px;
    font-weight: 300;
  }
}
