#question-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 40px 0;
  .nested-fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .question_question_options_content {
      flex: 0 0 80%;
    }
  }
}

.dropdown-content.select-dropdown {
  z-index: 99999;
}