 <footer class="page-footer teal footer-custom">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Garagebot</h5>
        <p class="grey-text text-lighten-4">
          A bot by Garage2020 & Unless to help healthcare workers conduct questionaires.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Garage2020 & Unless
      <a class="grey-text text-lighten-4 right" href="http://unless.io">Made by Unless.io</a>
    </div>
  </div>
</footer>
