<div class="home-page">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="home-title">
          <h2>Garagebot</h2>
        </div>
        <div class="home-paragraph-title">
          <p>A project built by Unless, commissioned by Garage2020</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="giphy" style="background-image:url('https://media.giphy.com/media/JSRZTSrvQSGkg/giphy.gif');"></div>
      </div>
      <div class="col s6">
        <h5>Hello 🤖</h5>
        <div class="p-expl-text">
          <p> 
            A bot by Garage2020 & Unless to help healthcare workers conduct questionaires.
          </p>
          <p>
          The Garagebot was built to help youth workers in asking frequent questionaires in a more fun and constructive way. By becoming part of this platform, you can start creating a template for questionaires you wish the bot to conduct on a regular basis. Instead of using plain old paper, this platform will allow you to send a bot to Facebook Messenger with the purpose of gathering information from your clients. By using the chat tool, we believe that clients, will enjoy the filling out of these questionaires more, so overall delivering a better experience for them.
          </p>
        </div>
        <div class="team-finish">
          <p>Best,</p>
          <p>The Team</p>
        </div>
      </div>
    </div>
  </div>

</div>
