<div class="home-page">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="home-title">
          <h2>Garagebot</h2>
        </div>
        <div class="home-paragraph-title">
          <p>A project build by Garage2020</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="giphy" style="background-image:url('https://media.giphy.com/media/JSRZTSrvQSGkg/giphy.gif');"></div>
      </div>
      <div class="col s6">
        <h5>Hello, we are here now!</h5>
        <div class="p-expl-text">
        <p> The Garagebot was built to help youth workers in asking frequent questionaires in a more fun and constructive way. By becoming part of this platform, you can start creating your own questionaires which you frequently ask from your client. Instead of using plain old paper, this platform will allow you to use Facebook Messenger. By using the chat tool, we believe that clients, will enjoy the filling out of these questionaires more, so overall delivering a better experience for them.</p>
        </div>
        <div class="team-finish">
          <p>Best,</p>
          <p>The Team</p>
        </div>
      </div>
    </div>
  </div>

</div>
