#navbar-menu {
  height: 100%;
  width: 100px;
  background-size: cover;
  background-position: center;
}

.garage-nav {
  z-index: 999;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .garage-logo {
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
  }
}

#dropdown1 {
  width: 200px !important;
}