<div class="user-info-container">
  <%= render partial: "dashboards/user_info" %>

  <% if cards %>
  <div class="row">
    <!-- cards replace by @evaluations -->
    <% 10.times do %>
    <div class="col s6">
      <%= render partial: "cards/evaluation_card" %>
    </div>
    <% end %>
  </div>
  <% end %>

</div>
