<div class="user-info-container">
  <%= render partial: "dashboards/user_info" %>

  <% if current_user.evaluations.any? %>
    <div class="row">
      <!-- cards replace by @evaluations -->
      <% current_user.evaluations.each do |evaluation| %>
      <div class="col s6">
        <%= render partial: "cards/evaluation_card" %>
      </div>
      <% end %>
    </div>
  <% else %>
  <h2 class="text-center">
    No evaluations yet.
  </h2>
  <% end %>

</div>
