<div class="user-info-container">
  <%= render partial: "dashboards/user_info" %>

  <% if current_user.evaluations.any? %>
  <ul class="collection">
    <% current_user.evaluations.each do |evaluation| %>
    <li class="collection-item">
    <%= render partial: "cards/evaluation_card", locals: { evaluation: evaluation, treatment: evaluation.treatment_process} %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <h2 class="text-center">
    No evaluations yet.
  </h2>
  <% end %>

</div>
