<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <span class="card-title">I am a evaluation</span>
    <p>I contain some kind of description concerning the template</p>
  </div>
  <div class="card-action">
    <a href="#">View template</a>
    <a href="#">View evaluation</a>
    <a href="#">View user</a>
  </div>
</div>
