<%= link_to dashboard_treatment_evaluation_path(treatment, evaluation), class: "collection-item" do  %>
<p>
  Evaluation conducted on: <strong><%= evaluation.created_at.strftime('%A') %> <%= evaluation.created_at %></strong>
</p>
<% end %>