// /* -------------------------------------
//  * Your CSS code for flash notices and alerts
// * ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background-color: transparent;
    border: none;
    font-size: 26px;
  }
}
.alert-info {
  background: #4caf50;
}
.alert-warning {
  background: #b71c1c;
}
