.flex-question {
  justify-content: space-between;
  display: flex;
}
.question-category {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 300;
  opacity: 0.6;
  height: 43px;
}

.questions-form {
  background-color: white;
  border: 1px solid #e0e0e0;;
}


