.questionaire-show {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  .questionaire-instruction {
    width: 700px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .current-evaluations {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #009688;
    border: 2px solid #009688;
    padding: 10px 15px;
    border-radius: 50px;
    opacity: 0.6;
    font-weight: 300;
  }
}
